@mixin flex-layout($justify: flex-start, $align: flex-start) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin background-fullpage($color) {
    box-shadow: 0 0 0 100vmax $color;
    clip-path: inset(0 -100vmax);
}
